.social {
    width: 7vh;
    height: 7vh;
    background-color: var(--red);
    border: none;
    border-radius: 1vh;
    position: relative;
    transition: all 0.3s ease;
}

.social:hover {
    transform: scale(1.05);
}


.social-overlay {
    position: absolute;
    border-radius: 1vh;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--darker-red);
    opacity: 0.5;
    transition: all 0.3s ease; 
}

.social-overlay:hover {
    opacity: 0;
    transform: scale(1.05);
}