.deck-edit-entry {
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
}

.deck-edit-entry-input-box {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#F5F9FA;;
    height: 80%;
}

#deck-edit-add-flashcard-button {
    width: 40%;
    height: 10%;
}