#body {
    width: 100%;
    flex: 1;
    background-color: var(--dark-red);
    display: flex;
    justify-content: center;
    align-items: start;
    overflow: auto;
}

#body-project-container {
    height: 90%;
    width: 70%;
    margin-top: 1.5vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: start;
}