.project {
    position: relative;
    flex: 0 0 30vh;
    height: 30vh;
    display: flex;
    flex-direction: column;
    border: none;
    border-radius: 3vh;
    margin: 2vh;
    background-size: cover;
    transition: all 0.3s ease;
}

.project:hover {
    transform: scale(1.05);
}

.project-overlay {
    position: absolute;
    border-radius: 3vh;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--darker-red);
    opacity: 0.5;
    transition: all 0.3s ease; /* Smooth transition for fading */
}

.project-overlay:hover {
    opacity: 0;
    transform: scale(1.05);
}

.project-name {
    flex: 1;
    width: 100%;
    color: black;
    font-weight: bold;
    font-size: 2.5vh;
    display: flex;
    justify-content: left;
    align-items: start;
    padding-left: 5%;
}

.project-description {
    flex: 8;
    width: 100%;
    color: black;
    padding-left: 5%;
    
    display: flex;
    justify-content: start;
    align-items: start;
    font-size: 1.5vh;
    text-align: left;
}
