.flashcard-question {
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    z-index: 2;
    background-color: #F5F9FA;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
