#deck-list {
	grid-area: content;
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: start;
	overflow-y: auto;
}

#deck-list-header {
	position: sticky;
	z-index: 10;
	top: 0;
	background-color: #c4c4c4;
	width: 100%;
	flex: 0 0 10%;
	display: flex;
	justify-content: center;
	align-items: center;
}

#deck-list-add-button {
	width: 100%;
	flex: 0 0 10%;
	margin-bottom: 1%;
	display: flex;
	justify-content: start;
	align-items: center;
	padding-left: 5%;
}
