html, body 
{
    height: 100%;
    width: 100%;
}

*
{
    margin: 0px;
    border: 0px;
    padding: 0px;
}

.coiny
{
    font-family: "Coiny", system-ui;
    font-weight: 300;
    font-style: normal;
}

body
{
    background-color: #FBD1A2;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.level-header
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 32%;
}

.game-interface
{
    display: flex;
    align-items: center;
    width: 60%;
    height: 45%;
}

.inventory
{
    height: 102%;
    width: 30%;
    display: flex;
    flex-direction: column;
}

.inventory-title
{
    flex: 1 5 auto;
    height: 16.6%;
    align-self: center;
}

#inventory-canvas
{
    flex: 5 1 auto;
    height: 83.3%;
    width: 100%;
    background-color: #37383A80;
    margin-right: -4px;
    border-top-left-radius: 32px;
    border-bottom-left-radius: 32px;
    align-self: end;
}

#grid
{
    height: 100%;
    aspect-ratio: 1;
    border: 4px solid #37383A;
}

.goal
{
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 5%;
}

#goal-canvas
{
    height: 66.6%;
    aspect-ratio: 1;
    border: 4px solid #37383A;
    margin-top: 0%;
    flex: 4 1 auto;
}

.goal-title
{
    height: 16.6%;
    align-self: center;
    flex: 1 4 auto;
}

.goal-buttons
{
    height: 16.6%;
    flex: 1 4 auto;
}