html, body 
{
    height: 100%;
    width: 100%;
}

*
{
    margin: 0px;
    border: 0px;
    padding: 0px;
    box-sizing: border-box;
    -ms-user-select: none;
    user-select: none;
}

.coiny
{
    font-family: "Coiny", system-ui;
    font-weight: 300;
    font-style: normal;
}

body
{
    background-color: #FBD1A2;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.level-header
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 32%;
}

.game-interface
{
    display: flex;
    align-items: center;
    width: 60%;
    height: 45%;
}

.inventory
{
    margin-right: -0.4%;
    height: 100%;
    width: 30%;
    display: flex;
    flex-direction: column;
}

.inventory-title
{
    flex: 1 5 auto;
    height: 16.7%;
    align-self: center;
}

#inventory-canvas
{
    position: relative;
    flex: 5 1 auto;
    height: 83.3%;
    aspect-ratio: 1;
    align-self: end;
}

#inventory-canvas-background
{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: #37383A80;
    border: 0.6vmin solid #37383A;
    border-top-left-radius: 6.4vmin;
    border-bottom-left-radius: 6.4vmin;
    align-self: end;
}

#inventory-div-overlay {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 0.6vmin solid #FFFFFF00; /* transparent border to align with the background canvas, due to border-box box sizing*/
}

.inventory-grid-row
{
    flex: 1 1 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inventory-grid-square-holder
{
    flex: 1 1 0;
    position: relative;
}

.inventory-grid-square
{
    position: absolute;
}


#grid
{
    height: 100%;
    aspect-ratio: 1;
    border: 0.6vmin solid #37383A;
}

.goal
{
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 5%;
}

#goal-canvas
{
    height: 66.6%;
    aspect-ratio: 1;
    border: 0.6vmin solid #37383A;
    margin-top: 0%;
    flex: 4 1 auto;
}

.goal-title
{
    height: 16.6%;
    align-self: center;
    flex: 1 4 auto;
}

.goal-buttons
{
    height: 16.6%;
    flex: 1 4 auto;
}