@import "../../utils/constants.css";

#flashcard-rate-bar {
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15%;
}

#flashcard-rate-bar-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70%;
    width: 100%;
    gap: 5%;
}

.flashcard-rate-bar-button {
    flex: 1;
    height: 100%;
    border-radius: 15%;
    border: 2px solid gray;
}