.project {
    position: relative;
    flex: 0 0 40vh;
    height: 40vh;
    display: flex;
    flex-direction: column;
    border: none;
    border-radius: 3vh;
    margin: 1.5vh;
    background-size: cover;
    transition: all 0.3s ease;
}

.project:hover {
    transform: scale(1.04);
}

.project-overlay {
    position: absolute;
    border-radius: 3vh;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--darker);
    opacity: 0.5;
    transition: all 0.3s ease;
}

.project-overlay:hover {
    opacity: 0;
    transform: scale(1.04);
}

.project-name {
    flex: 1;
    width: 100%;
    color: black;
    font-family: "Nunito", serif;
    font-weight: bold;
    font-size: 3vh;
    display: flex;
    justify-content: left;
    align-items: start;
    padding-left: 5%;
    padding-top: 3%;
}

.project-description {
    flex: 7;
    width: 100%;
    color: black;
    padding-left: 5%;
    
    font-family: "Dosis", serif;
    font-size: 2vh;
    font-weight: 450;

    display: flex;
    justify-content: start;
    align-items: start;
    text-align: left;
}

.project-footer {
    flex: 1;
    display: flex;
    justify-content: start;
    gap: 2vh;
    margin: 1.5vh;
}
