@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&family=Fira+Code:wght@300..700&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Sriracha&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

.fira-code {
  font-family: "Fira Code", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

:root {
    --cream: #fcf6bd;
    --red: #b54c58;
    --dark-red: #903e47;
    --darker-red: #6f353c;
    --darkest-red: #451723;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
    font-weight: 300;
    font-size: 14px;
    color: var(--cream);
}

html,
body {
	width: 100%;
    background-color: var(--dark-red);
}

body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
    overflow: auto;
}
