#header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--darkest);
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 1vh;
    padding-bottom: 1vh;
}

@keyframes cursorBlink {
    0%, 49% {
        border-color: var(--cream);
    }
    50%, 99% {
        border-color: transparent;
    }
    100% {
        border-color: var(--cream);
    }
}

#header-title {
    height: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
    font-weight: 600;
    font-size: 5vh;
    font-family: "Fira Code", serif;
    padding-right: 5px;
    border-right: 2px solid var(--cream);
    animation: cursorBlink 1s infinite;
}



#header-socials {
    height: 100%;
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 1vh;
}