#header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--darkest-red);
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 1%;
    padding-bottom: 1%;
}

#header-title {
    flex: 0 0 33%;
    height: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
    font-weight: 600;
    font-size: 5vh;
    font-family: "Fira Code", serif;
}

#header-socials {
    flex: 0 0 67%;
    height: 100%;
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 1vh;
}