.deck-list-entry {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: start;
	gap: 5%;
	width: 100%;
	height: 15%;
	padding-left: 5%;
	border: 1px solid #c4c4c4;
	transition: border 0.3s ease;
}

.deck-list-entry:hover {
	border: 1px solid blue;
}

.deck-list-entry-blurb {
	font-size: 14px;
	color: gray;
	width: 10%;
	margin-right: 70%;
}

.deck-list-entry-content {
	display: flex;
	gap: 5%;
	width: 100%;
	height: 40%;
}

.deck-list-entry-title {
	resize: none;
	transition: border 0.2s ease;
	border: 2px solid transparent;
	font-size: 20px;
	height: 25%;
}

.deck-list-entry-title:hover {
	border-color: black;
}

.deck-list-entry-edit-button {
	height: 60%;
	background-color: transparent;
}

.deck-list-entry-edit-button-icon {
	height: 100%;
	object-fit: contain;
	transition: filter 0.3s ease;
}

.deck-list-entry-edit-button-icon:hover {
	filter: sepia(0.5) invert(100%) saturate(5);
}

.deck-list-entry-delete-button {
	height: 60%;
	background-color: transparent;
}

.deck-list-entry-delete-button-icon {
	height: 100%;
	object-fit: contain;
	transition: filter 0.3s ease;
}

.deck-list-entry-delete-button-icon:hover {
	filter: sepia(1) hue-rotate(-50deg) saturate(5);
}
