.deck-list-entry {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 5%;
    width: 100%;
    height: 15%;
    padding-left: 5%;
    border: 1px solid #C4c4c4;
}

.deck-list-entry-content {
    display: flex;
    gap: 5%;
    width: 100%;
    height: 40%;
}

.deck-list-entry-title {
    resize: none;
}

.deck-list-entry-edit-button {
    height: 100%;
}

.deck-list-entry-edit-button-icon {
    height: 100%;
    object-fit: contain;
}