/* Webfont: Pretty_Neat */
@font-face {
    font-family: 'PrettyNeat';
    src: url('PrettyNeat-Regular.woff2') format('woff2'),
        /* Modern Browsers */
        url('PrettyNeat-Regular.otf') format('opentype');
    /* Safari, Android, iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

*
{
    font-family: "PrettyNeat";
    font-size: 40px;
    opacity: 50%;
}